admin.sw <admin.sw@semics.com> <Admin@DESKTOP-8LH9RIV> <Admin@DESKTOP-8LH9RIV> Jake <cwkim1@semics.com>
Leina <songhee.han@semics.com>
junho.yu <junho.yu@semics.com>
Alvin <shhan@semics.com>
gwangtae.kim <gwangtae.kim@semics.com> KwangTae Kim <oov1023@naver.com>
sungjin <sjkim@semics.com> <sjkim@semics.com> 
dave <sangjin@semics.com>
Randy <seongheon@semics.com> <seongheon@semics.com> <soccer4976@naver.com>
