<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClient" />
                <binding name="BasicHttpBinding_IServer" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServerDuplex" maxBufferPoolSize="10067108864" maxReceivedMessageSize="10067108864" />
                <binding name="NetTcpBinding_IClientDuplex" maxBufferPoolSize="10067108864" maxReceivedMessageSize="10067108864" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10237/SimpleService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClient" contract="Service.IClient" name="BasicHttpBinding_IClient" />
            <endpoint address="http://localhost:10237/SimpleService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServer" contract="Service.IServer" name="BasicHttpBinding_IServer" />
            <endpoint address="net.tcp://localhost:10238/SimpleService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServerDuplex" contract="Service.IServerDuplex" name="NetTcpBinding_IServerDuplex">
                <identity>
                    <userPrincipalName value="JAKE-PC\Semics" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:10238/SimpleService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClientDuplex" contract="Service.IClientDuplex" name="NetTcpBinding_IClientDuplex">
                <identity>
                    <userPrincipalName value="JAKE-PC\Semics" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>