<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net45" userInstalled="true" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net45" userInstalled="true" />
  <package id="NLog" version="4.5.11" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D10" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
</packages>